# coin
host-keyword, blockchain, CRYPTO
host-keyword, kaspa, CRYPTO
host-keyword, unisat, CRYPTO
host-keyword, litecoin, CRYPTO

# miner pool
host-keyword, f2pool, CRYPTO
host-keyword, iceriver, CRYPTO
host-keyword, hashrate, CRYPTO
host-keyword, whattomine, CRYPTO
host-keyword, woolypooly, CRYPTO
host-keyword, herominers, CRYPTO
host-keyword, minerpool, CRYPTO
host-keyword, rplant.xyz, CRYPTO
host-keyword, nicehash, CRYPTO

# exchange
host-keyword, binance, CRYPTO
host-keyword, bntrace, CRYPTO
host-keyword, bnbstatic, CRYPTO
host-keyword, okx, CRYPTO
host-keyword, gate.io, CRYPTO
host-keyword, bitpay, CRYPTO
host-keyword, coinbase, CRYPTO
host-keyword, reddit, CRYPTO
host-keyword, hkd, CRYPTO

host-keyword, spotonchain, CRYPTO
host-keyword, coingecko, CRYPTO
host-keyword, moonpay, CRYPTO
host-keyword, improd, CRYPTO

host-keyword, cex.io, CRYPTO
host-keyword, mexc, CRYPTO
host-keyword, mxc, CRYPTO

host-keyword, coinex, CRYPTO
host-keyword, txbit.io, CRYPTO
host-keyword, coinmarketcap, CRYPTO
host-keyword, discord, CRYPTO

host-keyword, 2miners, CRYPTO
host-keyword, tokocrypto, CRYPTO
host-keyword, blockchain, CRYPTO
host-keyword, safepal, CRYPTO
host-keyword, safepal.io, CRYPTO
host-keyword, trustwallet.com, CRYPTO
host-keyword, ledger, CRYPTO
host-keyword, blockvalue, CRYPTO
host-keyword, hive, CRYPTO
host-keyword, cobo.com, CRYPTO
host-keyword, etherscan.io, CRYPTO
host-keyword, staticimg, CRYPTO
host-keyword, kucoin, CRYPTO
host-keyword, veryhash, CRYPTO
host-keyword, heroku, CRYPTO
host-keyword, lndhub, CRYPTO
host-keyword, coindesk, CRYPTO
host-keyword, bluewallet, CRYPTO
host-keyword, zebedee, CRYPTO
host-keyword, wbtc, CRYPTO
host-keyword, aave, CRYPTO
host-keyword, huobi, CRYPTO
host-keyword, woodpeckerlog, CRYPTO
host-keyword, coinbase, CRYPTO
host-keyword, bntrace, CRYPTO
host-keyword, bnbstatic, CRYPTO
host-keyword, spankbang.com, CRYPTO
