# > Golang
DOMAIN-SUFFIX, golang.org, PROXY
DOMAIN, golang-consa.l.google.com, PROXY
DOMAIN-SUFFIX, gmodules.com, PROXY
DOMAIN-SUFFIX, godoc.org, PROXY

# > Github
DOMAIN-SUFFIX, github.com, PROXY

# > Google
DOMAIN-KEYWORD, google.com, PROXY
DOMAIN-SUFFIX, gmail.com, PROXY
DOMAIN-SUFFIX, gstatic.com, PROXY
DOMAIN-SUFFIX, gmodules.com, PROXY
DOMAIN-SUFFIX, godoc.org, PROXY

# > V2RAY
DOMAIN-SUFFIX, v2ray.com, PROXY
