# > Golang
host-keyword, golang, PROXY
host-keyword, gmodules.com, PROXY
host-keyword, godoc.org, PROXY

# > Github
host-keyword, github.com, PROXY

# > Google
DOMAIN-KEYWORD, google.com, PROXY
host-keyword, gmail.com, PROXY
host-keyword, gstatic.com, PROXY
host-keyword, youtube, PROXY

# > V2RAY
host-keyword, v2ray.com, PROXY
