DOMAIN-SUFFIX, limbopro.xyz, PROXY
DOMAIN-KEYWORD, quantumult.crossutility.com, PROXY

# TikTok
USER-AGENT, TikTok*, PROXY
DOMAIN-SUFFIX, muscdn.com, PROXY
DOMAIN-SUFFIX, musical.ly, PROXY
DOMAIN-SUFFIX, tiktokv.com, PROXY
DOMAIN-SUFFIX, tiktokcdn.com, PROXY
DOMAIN-KEYWORD, -tiktokcdn-com, PROXY
DOMAIN-KEYWORD, byteoversea.com, PROXY
DOMAIN-KEYWORD, snssdk.com, PROXY

# Apple
DOMAIN-SUFFIX, appleid.com, PROXY
DOMAIN-KEYWORD, apple.com, PROXY
DOMAIN-SUFFIX, apple-cloudkit.com, PROXY
DOMAIN-SUFFIX, appstore.com, PROXY
DOMAIN-SUFFIX, crashlytics.com, PROXY
DOMAIN-SUFFIX, icloud.com, PROXY
DOMAIN-SUFFIX, icloud-content.com, PROXY
DOMAIN-SUFFIX, me.com, PROXY
DOMAIN-SUFFIX, mzstatic.com, PROXY
DOMAIN, www-cdn.icloud.com.akadns.net, PROXY
IP-CIDR, 17.0.0.0/8, PROXY

# PayPal
USER-AGENT, PayPal*, PROXY
DOMAIN-KEYWORD, paypal, PROXY
DOMAIN-SUFFIX, paypal.com, PROXY
DOMAIN-SUFFIX, paypalobjects.com, PROXY
