# (DNS Cache Pollution Protection)

# stocks
host-keyword, tradingview, PROXY

# Google
host-keyword, ampproject.org, PROXY
host-keyword, appspot.com, PROXY
host-keyword, blogger.com, PROXY
host-keyword, getoutline.org, PROXY
host-keyword, gvt0.com, PROXY
host-keyword, gvt1.com, PROXY
host-keyword, gvt3.com, PROXY
host-keyword, xn--ngstr-lra8j.com, PROXY
host-keyword, blogspot, PROXY
host-keyword, ggpht.com, PROXY
host-keyword, google, PROXY
host-keyword, ytimg.com, PROXY

# Gmail
host-keyword, gmail-smtp-msa.l.google.com, PROXY
host-keyword, gmail-imap.l.google.com, PROXY
host-keyword, imap.gmail.com, PROXY
host-keyword, smtp.gmail.com, PROXY
host-keyword, gmail.com, PROXY

# Facebook
host-keyword, cdninstagram.com, PROXY
host-keyword, fb.com, PROXY
host-keyword, fb.me, PROXY
host-keyword, fbaddins.com, PROXY
host-keyword, fbcdn.net, PROXY
host-keyword, fbsbx.com, PROXY
host-keyword, fbworkmail.com, PROXY
host-keyword, instagram.com, PROXY
host-keyword, messenger.com, PROXY
host-keyword, oculus.com, PROXY
host-keyword, oculuscdn.com, PROXY
host-keyword, rocksdb.org, PROXY
host-keyword, whatsapp.com, PROXY
host-keyword, whatsapp.net, PROXY
host-keyword, facebook, PROXY
IP-CIDR, 3.123.36.126/32, PROXY
IP-CIDR, 35.157.215.84/32, PROXY
IP-CIDR, 35.157.217.255/32, PROXY
IP-CIDR, 52.58.209.134/32, PROXY
IP-CIDR, 54.93.124.31/32, PROXY
IP-CIDR, 54.162.243.80/32, PROXY
IP-CIDR, 54.173.34.141/32, PROXY
IP-CIDR, 54.235.23.242/32, PROXY
IP-CIDR, 169.45.248.118/32, PROXY

# Twitter
host-keyword, pscp.tv, PROXY
host-keyword, periscope.tv, PROXY
host-keyword, t.co, PROXY
host-keyword, twimg.co, PROXY
host-keyword, twimg.com, PROXY
host-keyword, twitpic.com, PROXY
host-keyword, vine.co, PROXY
host-keyword, twitter, PROXY

# Telegram
host-keyword, t.me, PROXY
host-keyword, tdesktop.com, PROXY
host-keyword, telegra.ph, PROXY
host-keyword, telegram.me, PROXY
host-keyword, telegram.org, PROXY
host-keyword, telesco.pe, PROXY
IP-CIDR, 91.108.4.0/22, PROXY
IP-CIDR, 91.108.8.0/22, PROXY
IP-CIDR, 91.108.12.0/22, PROXY
IP-CIDR, 91.108.16.0/22, PROXY
IP-CIDR, 91.108.56.0/22, PROXY
IP-CIDR, 149.154.160.0/20, PROXY

# Line
host-keyword, line.me, PROXY
host-keyword, line-apps.com, PROXY
host-keyword, line-scdn.net, PROXY
host-keyword, naver.jp, PROXY
IP-CIDR, 103.2.30.0/23, PROXY
IP-CIDR, 125.209.208.0/20, PROXY
IP-CIDR, 147.92.128.0/17, PROXY
IP-CIDR, 203.104.144.0/21, PROXY

# (Region-Restricted Access Denied)
host-keyword, apartmentratings.com, PROXY
host-keyword, apartments.com, PROXY
host-keyword, bankmobilevibe.com, PROXY
host-keyword, bing.com, PROXY
host-keyword, booktopia.com.au, PROXY
host-keyword, cccat.io, PROXY
host-keyword, centauro.com.br, PROXY
host-keyword, clearsurance.com, PROXY
host-keyword, costco.com, PROXY
host-keyword, crackle.com, PROXY
host-keyword, depositphotos.cn, PROXY
host-keyword, dish.com, PROXY
host-keyword, dmm.co.jp, PROXY
host-keyword, dmm.com, PROXY
host-keyword, dnvod.tv, PROXY
host-keyword, esurance.com, PROXY
host-keyword, extmatrix.com, PROXY
host-keyword, fastpic.ru, PROXY
host-keyword, flipboard.com, PROXY
host-keyword, fnac.be, PROXY
host-keyword, fnac.com, PROXY
host-keyword, funkyimg.com, PROXY
host-keyword, fxnetworks.com, PROXY
host-keyword, gettyimages.com, PROXY
host-keyword, go.com, PROXY
host-keyword, here.com, PROXY
host-keyword, jcpenney.com, PROXY
host-keyword, jiehua.tv, PROXY
host-keyword, mailfence.com, PROXY
host-keyword, nationwide.com, PROXY
host-keyword, nbc.com, PROXY
host-keyword, nexon.com, PROXY
host-keyword, nordstrom.com, PROXY
host-keyword, nordstromimage.com, PROXY
host-keyword, nordstromrack.com, PROXY
host-keyword, superpages.com, PROXY
host-keyword, target.com, PROXY
host-keyword, thinkgeek.com, PROXY
host-keyword, tracfone.com, PROXY
host-keyword, unity3d.com, PROXY
host-keyword, uploader.jp, PROXY
host-keyword, vevo.com, PROXY
host-keyword, viu.tv, PROXY
host-keyword, vk.com, PROXY
host-keyword, vsco.co, PROXY
host-keyword, xfinity.com, PROXY
host-keyword, zattoo.com, PROXY
USER-AGENT, Roam*, PROXY

# Apple
# TestFlight
DOMAIN, testflight.apple.com, PROXY

# Apple URL Shortener
host-keyword, appsto.re, PROXY

# iBooks Store download
DOMAIN, books.itunes.apple.com, PROXY

# iTunes Store Moveis Trailers
DOMAIN, hls.itunes.apple.com, PROXY

# Spotlight

DOMAIN, api-glb-sea.smoot.apple.com, PROXY

# Dictionary
DOMAIN, lookup-api.apple.com, PROXY

# Google
host-keyword, abc.xyz, PROXY
host-keyword, android.com, PROXY
host-keyword, androidify.com, PROXY
host-keyword, dialogflow.com, PROXY
host-keyword, autodraw.com, PROXY
host-keyword, capitalg.com, PROXY
host-keyword, certificate-transparency.org, PROXY
host-keyword, chrome.com, PROXY
host-keyword, chromeexperiments.com, PROXY
host-keyword, chromestatus.com, PROXY
host-keyword, chromium.org, PROXY
host-keyword, creativelab5.com, PROXY
host-keyword, debug.com, PROXY
host-keyword, deepmind.com, PROXY
host-keyword, firebaseio.com, PROXY

host-keyword, gwtproject.org, PROXY
host-keyword, itasoftware.com, PROXY
host-keyword, madewithcode.com, PROXY
host-keyword, material.io, PROXY
host-keyword, polymer-project.org, PROXY
host-keyword, admin.recaptcha.net, PROXY
host-keyword, recaptcha.net, PROXY
host-keyword, shattered.io, PROXY
host-keyword, synergyse.com, PROXY
host-keyword, telephony.goog, PROXY
host-keyword, tensorflow.org, PROXY
host-keyword, tiltbrush.com, PROXY
host-keyword, waveprotocol.org, PROXY
host-keyword, waymo.com, PROXY
host-keyword, webmproject.org, PROXY
host-keyword, webrtc.org, PROXY
host-keyword, whatbrowser.org, PROXY
host-keyword, widevine.com, PROXY

# Microsoft
host-keyword, 1drv.com, PROXY
host-keyword, 1drv.ms, PROXY
host-keyword, blob.core.windows.net, PROXY
host-keyword, livefilestore.com, PROXY
host-keyword, onedrive.com, PROXY
host-keyword, storage.live.com, PROXY
host-keyword, storage.msn.com, PROXY
DOMAIN, oneclient.sfx.ms, PROXY
host-keyword, onedrive.live.com, PROXY
host-keyword, xboxlive.com, PROXY

# Other
host-keyword, porn, PROXY
host-keyword, phncdn.com, PROXY
host-keyword, phprcdn.com, PROXY

host-keyword, xnxx.com, proxy
host-keyword, tiktokv.com, proxy
host-keyword, youtu.be, Videos
host-keyword, spankbang, PROXY
host-keyword, redtube, PROXY
